.personalBtn{
    font-size: 13px;
    padding: 7px 20px;
}
.personalBtn:hover,.profileSideNav:hover{
    color: #2874f0;
}
.profileEditBtn{
    color: #2874f0;
    font-size: 13px;
    border: none;
}
.addAddressBtn{
    color: #2874f0;
    font-size: 14px;
    font-weight: 500;
}
.profileLeftDiv,.profileRightDiv{
    padding: 25px 35px;
}
.profileNameDiv{
    padding: 10px 100px 10px 40px;
    box-shadow: 5px 10px 18px #c5bebe;
}
.hello{
    font-size: 13px;
}
.myOrdersDiv{
    box-shadow: 5px 10px 18px #c5bebe;
    padding: 20px 45px;
}
.profileSideNav,.accountSetting,.personalInformationHead{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.profileLabel{
    font-size: 14px;
    font-weight: 600;
}
.personalInformationDiv,.addressModal{
    box-shadow: 5px 10px 18px #c5bebe;
    min-width: 475px;
    max-width: 475px;
}
.addressModal{
    display: none;
    justify-content: center;
}
.addAddressClose{
    justify-content: center;
    color: #0d9191;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #0d9191;
    padding: 10px 20px;
    margin-right: 5px;
}
.addressDiv{
    padding: 15px 20px;
    transition: border 0.3s ease;
}
.border {
    border: 5px solid green;
}
.addressNameSpan,.addressSpan,.orderItemPrice{
    font-size: 14px;
}
.addressEditImg{
    cursor: pointer;
}
.addressMainDiv{
    position: relative;
}
.addressEditDiv{
    position: absolute;
    right: 17px;
    top: 28px;
}
.addressEditDiv{
    display: none;
}