*{
    margin: 0;
    padding: 0;
}
.imagesUpdateDiv{
    display: none;
    flex-direction: column;
    padding: 20px 20px;
    box-shadow: 2px 2px 5px 5px #93c0c0;
}
.subCategoryUpdate{
    display: none;
}

.subCategorySubmit,.subCategoryUpdate{
    border: none;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #0d9191;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.imagesUpdateSubDiv{
    display: flex;
    flex-wrap: wrap;
    width: 515px;
}
.viewIamgesDiv{
    padding :10px;
}
.productsBrandspan{
    font-size: 14px;
    font-weight: 600;
}
.productsNamespan{
    font-size: 16px;
    font-weight: Bold;
}
.productsPricespan{
    font-size: 14px;
    font-weight: 600;
    color: #0b7777;
}
.imageThumbBtn{
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    background-color: #0d9191;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.imageDltBtn{
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    background-color:rgb(204, 137, 137);
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.updateProductSubmit{
    display: none;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
    padding : 10px 20px;
    background-color: #0d9191;
}
.addProductSubmit,.filterSubmit{
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    padding : 10px 20px;
    background-color: #0d9191;
}
.addProductClose{
    border: none;
    font-weight: bold;
    color:  #0d9191;
    border-radius: 20px;
    padding : 10px 20px;
    background-color: #a0dfdf;
}
.productLabel{
    font-size: 16px;
    font-weight: bold;
    padding: 15px 5px 5px 10px;
}

.adminBody{
    position: relative;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}

.cartLogoDiv{
    width: 150px;
    background-color: white;
    padding: 5px 6px;
    border-radius: 10px;
}
.cartNameLogo{
    color: #0d9191;
    font-size: 20px;
}
.userTypeSpan{
    color: white;
    font-size: 14px;
}
.addCategoryDiv{
    display: none;
    box-shadow: 2px 2px 5px 5px #93c0c0;
}
.addSubcategoryDiv{
    display: none;
    box-shadow: 2px 2px 5px 5px #93c0c0;
}

.addCategoryHeading{
    font-size: 20px;
    font-weight: bold;
    color: #0d9191;
}
.logoutConfirm,.deleteConfirm{
    flex-direction: column;
    position: absolute;
    top: 200px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 3px 3px rgb(231, 103, 103);
    display:none;
}
#userBodyMainDiv{
    position: relative;
}
.logourtAlertHead{
    background-color: rgb(226, 62, 62);
}
.signupHead{
    font-size: 25px;
}
.displayEditDiv{
    width: 550px;
    border: 3px solid  #0b7777;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent;
}

.displayDiv{
    padding-top: 125px;
    width: 550px;
    height: auto;
    max-height: 400px;
    border-radius: 5px;
    overflow-x: scroll;
}
.pageButton{
    border-radius: 15px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
.adminDeleteColor,
.adminEditColor{
    background-color:#0d9191;
}
.displayEditDiv{ 
    padding: 20px;
}
.signUpHeader{
    font-size: 30px;
    font-weight: bold;
    background-color: #0d9191;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}
.signupDiv{
    width: 450px;
    padding: 20px 40px;   
    margin-top: 60px;
    border-radius: 20px;
    background-color: #0d9191;
    box-shadow: 2px 2px 5px 5px #148d8d;
}
.textField{
    padding: 10px 5px;
    border: none;
    border-radius: 20px;
    color: #0b7777;
}
.textField::placeholder{
    color: #0b7777;
}
.textField:focus{
    outline: none;
}
.signUpButton{
    border: none;
    width: 200px;
    border-radius: 20px;
    padding: 10px 0px;
    color: #0b7777;
    font-weight:bold ;
}
.logoutBtn{
    font-size: 16px;
    border: none;
    padding: 5px 18px;
    color: #0d9191;
    border-radius: 10px;
    background-color: white;
}
.pageHead{
    padding: 18px 200px;
    font-size: 20px;
    border: 3px solid  #0b7777;
    border-radius: 20px;
    color: #0b7777;
}
.displayBtn{
    background-color:  #0b7777;
    padding: 10px 0px;
    margin: 5px 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color:white;
}

.logoutMesage{
    padding: 20px 40px;
}
.pageListDiv{
    position: relative;
}
.alertBtn{
    border: none;
    border-radius: 20px;
    background-color:  rgb(226, 62, 62);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.alertCancelBtn{
    border: none;
    border-radius: 20px;
    background-color:  rgb(238, 220, 220);
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold; 
}

.logourtAlertHead{
    background-color: rgb(226, 62, 62);
}
.pageDisplayDiv{
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color:  #0d9191;
}
.editInput{
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color:  #bffafa;
}
.addCategory,.addCategoryButton{
    background-color:#0d9191;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}
.updateCategoryButton{
    display: none;
    justify-content: center;
    background-color:#0d9191;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
}
.categoryFieldDiv{
    padding: 30px 60px;
    overflow-y: scroll;
    height: 350px;
    min-width: 300px;
}
.iconBackground{
    background-color: #0b7777;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}
.addButton{
    margin-left: 88.5%;
}

.subCategoryHead{
    font-size: 20px;
    font-weight: bold;
    color: #0d9191;
    padding: 50px 0px 50px 100px;
}

.subCategoryShowDiv{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #0d9191;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 350px;
    font-size: 16px;
    font-weight: bold;
}
.subCategoryeditButton{
    background-color: #0d9191;
    border: none;
    margin-left: 10px;
}

.productViewMainDiv{
    display: none;
    flex-direction: column;
}
.addProductModal{
    display:none;
}
.addProductHeading{
    font-size: 20px;
    color: #0d9191;
    font-weight: bold;
}
.addProductInputDiv{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 100px;
    box-shadow: 2px 2px 5px 5px #93c0c0;
}

.productClose{
    font-size: 10px;
    font-weight: bold;
    margin-left: 11px;
}

.subcategoryProductDiv{
    margin-top: 30px;
    flex-wrap: wrap;
    min-width: 1300px;
    margin-left: 80px;
    padding-left: 60px;
}

.similarProductcol {
    padding: 15px 25px;
    min-width: 350px;
    max-width: 350px;
    max-height: 150px;
    border: 1px solid #c9c2c2;
    border-radius: 4px;
    cursor: pointer;
}
.similarProductcol:hover > .productDiscriptionsdiv > .productsNamespan {
    color: #2874f0;
}
.similarProductshead {
    font-weight: bold;
    padding: 20px;
    font-size: 22px;
}
.similarImage {
    max-width: 150px;
}
.footerDiv{

    padding: 25px;
    border-top: 1px solid #ddd;
    margin-top: 25px;
}
.footerSpan,.returnLink{
    font-size:13px;
    color: #565656;
    font-weight: 300;
}
.footerFont{
	color:white;
        text-decoration:none;
        font-size:12px;
        font-weight:bold;
}
.footerHead{
	color:#878787;
        font-size:12px;
}
.footerPara{
	color:white;
        font-size:12px;
        margin:0px;
        line-height:19px;
}
.baseLink{
	color:white;
        text-decoration:none;
        font-size:12px;
}
.footerBase{
    border-top: 1px solid #454d5e;
}
.mailDiv{
    border-left: 1px solid #454d5e;
}






